*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;  
    background-color: #fefae0;
}

body {
    font-family: Arial, sans-serif;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
h1 {
    display: flex;
    justify-content: center;
    padding: 16px;
    font-size: 24px;
}

p{
    padding: 10px;
}
button {
    padding: 10px 10px;
    border-radius: 20px;
    font-size: 16px;
}
table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
th {
    background-color: #f2f2f2;
}